/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
    margin: 0px;
}

body {
    height: 1889.02px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 79px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

main {
    height: 1559.02px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    height: 1780.02px;
    width: 1440px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

            /* HEADER */
.logo {
    width: 161px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 61px;
    height: 19px;
}

nav {
    display: flex;
    justify-content: center;
    width: 344px;
    height: 35px;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 35px;
}

.p-link:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

            /* MAIN */
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* SECTION INFO GROUP */
.info-group {
    width: 93.06%;
    height: 281px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/********* HEADLINE *********/
.headline {
    width: 1340px;
    height: 53px;
}

.headline-title {
    margin: 0px;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.headline-txt {
    margin: 0px;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/********* SEARCHBAR *********/
.searchbar {
   width: 377px; 
   height: 49px;
   display: flex;
   text-align: center;
   border: 1px solid #F2F2F2;
   border-radius: 20px;
}

.position {
    width: 50px;
    height: 49px;
    display: flex;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.position-img {
    width: 14px;
    height: 18px;
    margin: auto;
}

.place {
    width: 147px;
    height: 21px;
    margin: auto;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.search:hover {
    cursor: pointer;
}

/********* FILTERBAR *********/
.filterbar {
    width: 758px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.filterbar-filter {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-right: 10px;
}

.filterbar-bubble {
    font-size: 17px;
    height: 50px;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-right: 20px;
}

.filterbar-bubble:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.filterbar-img {
    width: 22px;
    height: 22px;
    margin-left: 17px;
    margin-right: 15px;
}

/********* INFOBAR *********/
.infobar {
    width: 1340px;
    height: 24px;
    display: flex;
    align-items: center;
}

.infobarlogo {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    color: #0065FC;
    text-align: center;
    margin-right: 10px;
}

.infobarlogo-img {
    width: 4px;
    height: 10px;
}

.infobar-p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 614px;
    margin: auto;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 871px;
    height: 614px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hebergements-title {
    width: 811px;
    height: 26px;
}

.hebergements-title-p {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.hebergements-container1, .hebergements-container2 {
    width: 811px;
    height: 207.25px;
    display: flex;
    justify-content: space-between;
}

.hebergements-row1 {
    margin-bottom: 15px;
}

.hebergements-card {
    width: 240.33px;
    height: 207.25px;
    margin: 0px 0px 15px 0px;
    border: solid 5px white;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.hebergements-card-img-block img {
    width: 240.33px;
    height: 124px;
    border-radius: 17px 17px 0px 0px;
}

.hebergements-card-img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    
}

.hebergements-card-txt {
    width: 250.33px;
    height: 64.25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hebergements-card-txt-title {
    width: 230.33px;
    height: 19px;
}

.hebergements-card-txt-title-h {
    margin: 0px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.hebergements-card-txt-price {
    width: 230.33px;
    height: 16px;
}

.hebergements-card-txt-price-p {
    margin: 0px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hebergements-cardrating-block {
    width: 230.33px;
    height: 15.25px;
}   

.hebergements-showmore {
    width: 811px;
    height: 21px;
    margin-top: 15px;
}

.hebergements-showmore:hover {
    cursor: pointer;
}

.hebergements-showmore-p {
    margin: 0px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 429px;
    height: 614PX;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* ACTIVITES *********/
.activities {
    width: 1340px;
    height: 559.02px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.activities-title {
    width: 1280px;
    height: 30.02px;
}

.activities-card-title-h {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0px;
}

.activities-card-block {
    width: 1280px;
    height: 439px;
    display: flex;
    justify-content: space-between;
}

.activities-card {
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activities-card-img-block {
    width: 297.5px;
    height: 380px;
}

.activities-card-img {
    height: 100%;
    width: 297.5px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activities-card-title-section {
    width: 297.5px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.activities-card-title {
    width: 259.5px;
    height: 19px;
}

.activities-card-title-h {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0px;
}

/********* FILTERBAR *********/
    .footer-div {
        width: 446.67px;
        height: 163px;
        padding-left: 20px;
    }


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width : 1440px) {

    html {
        width: 1440px;
    }

    .main-container main {
        width: 100%;
    }

    main {
        width: 100%;
        }
}




@media (max-width: 1024px) {


 

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}